imutils==0.5.4
ipykernel==6.16.2
ipython==7.34.0
jupyter-client==6.1.12
jupyter_core==4.12.0
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.21.6
opencv-python==4.7.0.68
opencv-python-headless==4.5.4.60
pandas==1.1.5
Pillow==9.4.0
plot-keras-history==1.1.38
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
easyocr
sklearn==0.0.post1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
transformers==4.26.1